<% include ../partials/header %>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Kategori</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
              <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu">Semua</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/gorengan">Gorengan</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/sayuran">Sayuran</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/daging">Daging</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/makanan_ringan">Makan Ringan</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/minuman">Minuman</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/menu/kategori/buah">Buah</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Menu Kantin 27</h2>
            <% data.forEach(function (data) { %>
  						<div class="col-sm-4">
  							<div class="product-image-wrapper">
  								<div class="single-products">
  										<div class="productinfo text-center">
  											<img src="/frontend/images/<%=data.foto%>" alt="" class="item-frame" />
  											<h2>Rp <%=data.harga%></h2>
  											<p><%=data.nama%></p>
  											<a id="add" class="btn btn-default add-to-cart" harga_menu="<%=data.harga%>" id_menu="<%=data.id_menu%>" nama_menu="<%=data.nama%>"><i class="fa fa-plus-square"></i>Tambah Ke Troli</a>
  										</div>
  								</div>
  							</div>
  						</div>
            <% }) %>

					</div><!--features_items-->

					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">Pilihan Menu Minuman</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
                <% dataMinum.forEach(function (data) { %>
  								<div class="col-sm-3">
  									<div class="product-image-wrapper">
  										<div class="single-products">
  											<div class="productinfo text-center">
  												<img src="/frontend/images/<%=data.foto%>" alt="" class="item-frame-2" />
  												<h2>Rp <%=data.harga%></h2>
  												<p><%=data.nama%></p>
  												<a id="add" class="btn btn-default add-to-cart" harga_menu="<%=data.harga%>" id_menu="<%=data.id_menu%>" nama_menu="<%=data.nama%>"><i class="fa fa-plus-square"></i>Tambah Ke Troli</a>
  											</div>

  										</div>
  									</div>
  								</div>
                <% }) %>
							</div>

				</div>
			</div>
		</div>
	</section>

	<footer id="footer"><!--Footer-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="companyinfo">
							<h2><span>Kantin</span>27</h2>
							<p> Daftar Dan Pesan Sekarang.</p>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-0">
						<div class="single-widget">
								<h2>Layanan Pelanggan</h2>
								<ul class="nav nav-pills nav-stacked">
								<li><a href="">Bantuan</a></li>
								<li><a href="">Kontak</a></li>
								<li><a href="">FAQ’s</a></li>
							</ul>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget letters">
							<h2>Berlangganan Email</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Email Pelanggan" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Dapatkan pemberitahuan promo dengan berlangganan Email.</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 FoodDay Inc. All rights reserved.</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->



    <script src="/frontend/js/jquery.js"></script>
  	<script src="/frontend/js/bootstrap.min.js"></script>
  	<script src="/frontend/js/jquery.scrollUp.min.js"></script>
  	<script src="/frontend/js/price-range.js"></script>
    <script src="/frontend/js/jquery.prettyPhoto.js"></script>
    <script src="/frontend/js/main2.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

      }).on('click','#add',function() {
        var id = $(this).attr('id_menu');
        var nama = $(this).attr('nama_menu');
        var harga = $(this).attr('harga_menu');

        var dataMenu = {
          id_menu : id,
          nama : nama,
          harga : harga,
          jumlah : 1
        };
        var historyDataPesan = sessionStorage.getItem('historyDataPesan');
        if(historyDataPesan) {
          // console.log(dataPesan);
          historyDataPesanJson = JSON.parse(historyDataPesan);
          historyDataPesanJson.push(dataMenu);

          sessionStorage.setItem('historyDataPesan',JSON.stringify(historyDataPesanJson));
        }else{
          sessionStorage.setItem('historyDataPesan',JSON.stringify([dataMenu]));
        }

        var dataPesan = sessionStorage.getItem('dataPesan');
        if(dataPesan) {
          // console.log(dataPesan);
          dataPesanJson = JSON.parse(dataPesan);
          var dataP = {
            id : id,
            jumlah : 1
          }
          dataPesanJson.push(dataP);

          sessionStorage.setItem('dataPesan',JSON.stringify(dataPesanJson));
        }else{
          var dataP = {
            id : id,
            jumlah : 1
          }
          sessionStorage.setItem('dataPesan',JSON.stringify([dataP]));
        }

        alert('Anda berhasil menambahkan menu ke pesanan');
        console.log(dataPesan);
      });
    </script>
</body>
</html>
